<div class="block">
  <label class="block" for="inn-input">Введите ИНН:</label>
  <input class="inline" id="inn-input" type="text">
  <button class="inline" id="inn-submit" type="submit">Отправить</button>
</div>
<div id="inn-listing" class="column">
</div>
